In [1]:
import pandas as pd#imported pandas library
#Created  the Dictionary of series for each subject and marks
list = {'subject':pd.Series(['bigdata','datascience','fundamentals of AI','computer security','computer algorithms']),
'midterm marks':pd.Series([65,70,80,55,95]),
'final exammarks':pd.Series([82,78,53,66,98])}

In [2]:
list

{'subject': 0                bigdata
 1            datascience
 2     fundamentals of AI
 3      computer security
 4    computer algorithms
 dtype: object, 'midterm marks': 0    65
 1    70
 2    80
 3    55
 4    95
 dtype: int64, 'final exammarks': 0    82
 1    78
 2    53
 3    66
 4    98
 dtype: int64}

In [3]:
df = pd.DataFrame(list) #created the datafarem
print ("Mean Values in the Distribution") #print function for mean
print (df.mean())#gives the result of mean.

Mean Values in the Distribution
midterm marks      73.0
final exammarks    75.4
dtype: float64

<ipython-input-3-b14d59187c6d>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.mean())#gives the result of mean.

In [4]:
import pandas as pd#imported pandas library
df = pd.read_csv("/content/sample_data/Book1.csv")#improted/read the csv file

In [5]:
df#shows the list of file

     product  qty  price
0  chocolate    2      4
1     drinks    6     25
2     snacks    5     15
3     burger    3     16
4   sandwich    8     60
5   icecream    9     35

In [6]:
dt = pd.DataFrame(df)#created the dataframe
print ("Mean Values")#print function
print (dt.mean())#print the mean result

Mean Values
qty       5.500000
price    25.833333
dtype: float64

<ipython-input-6-548a629ad5ed>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (dt.mean())#print the mean result